// border radius for all boxes in the app
$box-border-radius: 2px;

// card styles
$card-padding: 8px;
$card-side-padding: 12px;

//theme colors
$basic-text-header-color: #0bb6ef;
$secondary-accent-color: #1E90FF;

//transitions
$transition-timing: .25s;