@import "../../../styles/variables";

.new-room-form {
  width: 100%;

  textarea {
    resize: none;
  }

  .validation-error {
    padding: 5px;

    .error-text {
      color: red;
    }

  }

}

.form-container, .resume-panel {
  background-color: #fff;
  margin-top: 75px;
  padding: 10px;
  border-radius: $box-border-radius;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);

  h3 {
    color: $basic-text-header-color;
    margin-bottom: 20px;
  }
}

.resume-panel {
  border-top: 4px solid $success-text-header-color;
  padding-bottom: 20px;

  h3 {
    color: $success-text-header-color;
  }
}

div.ReactTags__tags {
  position: relative;
}

.tag-input-field-disable {
  display: none;
}

div.ReactTags__tagInput {
  padding-top: 10px;
}

/* Styles for selected tags */
div.ReactTags__selected span.ReactTags__tag {
  border: 1px solid #ddd;
  background: #eee;
  font-size: 12px;
  display: inline-block;
  padding: 5px;
  margin: 0 5px;
  cursor: move;
  border-radius: 2px;
}

div.ReactTags__selected a.ReactTags__remove {
  color: #aaa;
  margin-left: 5px;
  cursor: pointer;
}

/* Styles for suggestions */
div.ReactTags__suggestions {
  position: absolute;
}

div.ReactTags__suggestions ul {
  list-style-type: none;
  box-shadow: .05em .01em .5em rgba(0, 0, 0, .2);
  background: white;
  width: 200px;
}

div.ReactTags__suggestions li {
  border-bottom: 1px solid #ddd;
  padding: 5px 10px;
  margin: 0;
}

div.ReactTags__suggestions li mark {
  text-decoration: underline;
  background: none;
  font-weight: 600;
}

div.ReactTags__suggestions ul li.ReactTags__activeSuggestion {
  background: #b7cfe0;
  cursor: pointer;
}

.m-top {
  margin-top: 25px;
}