.new-chat-room-header {
  p {
    font-size: 1.4em;
    color: white;
    text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.8);
    float: right;
    padding-right: 25px;
    position: relative;
    top: 15px;
  }
}

.my-rooms-container {
  .rooms-list {
    margin-top: 10px;
  }
}

.fb-position-br {
  animation: fromBottom 1.2s 1;
}

@keyframes fromBottom {
  0% {
    transform: translateY(250px);
  }
  100% {
    transform: translateY(0);
  }
}